<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Simple APIs 
## Random User and Fruitvice API Examples


Estimated time needed: **25** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruitvice API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Secirity**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data    
     breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01#intro) can be found here.

Another example of simple API we will use in this notebook is Fruitvice application. The Fruitvice API webservice which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The webservice is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5067 sha256=839a29073b329a9dc2a0b60b07bf4c97379fb6bc49421f9dbbed70a0654167be
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/f8/a9/23/1df3ef7a5177d99b4cba8fa52415e1360bde68f520c2a0e489
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [4]:
r = RandomUser()
r

Then, using `generate_users()` function, we get a list of random 10 users.

In [5]:
some_list = r.generate_users(10)

In [6]:
some_list

[<randomuser.RandomUser at 0x7ff79fd312d0>,
 <randomuser.RandomUser at 0x7ff79fd31310>,
 <randomuser.RandomUser at 0x7ff79fd31350>,
 <randomuser.RandomUser at 0x7ff79fd31390>,
 <randomuser.RandomUser at 0x7ff79fd313d0>,
 <randomuser.RandomUser at 0x7ff79fd31450>,
 <randomuser.RandomUser at 0x7ff79fd31490>,
 <randomuser.RandomUser at 0x7ff79fd314d0>,
 <randomuser.RandomUser at 0x7ff79fd31510>,
 <randomuser.RandomUser at 0x7ff79fd31410>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [7]:
name = r.get_full_name()
name

'Clara Chu'

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [8]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Amy Williamson   amy.williamson@example.com
Nevio Joly   nevio.joly@example.com
Ava Oliver   ava.oliver@example.com
Barbara Knight   barbara.knight@example.com
Alberte Nielsen   alberte.nielsen@example.com
Emilia Hautala   emilia.hautala@example.com
Hansje Van der Louw   hansje.vanderlouw@example.com
Alena Steffens   alena.steffens@example.com
LÃ©onie Girard   leonie.girard@example.com
Everardo Nunes   everardo.nunes@example.com

## Exercise 1
In this Exercise, generate photos of the random 5 users.

In [9]:
## Write your code here
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/women/90.jpg
https://randomuser.me/api/portraits/men/27.jpg
https://randomuser.me/api/portraits/women/56.jpg
https://randomuser.me/api/portraits/women/42.jpg
https://randomuser.me/api/portraits/women/57.jpg
https://randomuser.me/api/portraits/women/10.jpg
https://randomuser.me/api/portraits/women/93.jpg
https://randomuser.me/api/portraits/women/29.jpg
https://randomuser.me/api/portraits/women/79.jpg
https://randomuser.me/api/portraits/men/80.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [10]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [11]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,William Poulsen,male,Tisvilde,Midtjylland,william.poulsen@example.com,1986-04-18T23:31:06.671Z,https://randomuser.me/api/portraits/men/34.jpg
1,Nikolaj JÃ¸rgensen,male,Kongsvinger,Syddanmark,nikolaj.jorgensen@example.com,1953-06-05T09:29:23.990Z,https://randomuser.me/api/portraits/men/86.jpg
2,Ceylan ErdoÄan,female,Yozgat,Bolu,ceylan.erdogan@example.com,1967-04-29T10:09:38.813Z,https://randomuser.me/api/portraits/women/93.jpg
3,Clara PeÃ±a,female,Guadalajara,Castilla y LeÃ³n,clara.pena@example.com,1963-12-21T21:06:00.971Z,https://randomuser.me/api/portraits/women/94.jpg
4,Otto Korpela,male,Sotkamo,PÃ¤ijÃ¤t-HÃ¤me,otto.korpela@example.com,1979-11-22T09:06:28.324Z,https://randomuser.me/api/portraits/men/57.jpg
5,Ryder Singh,male,Blenheim,Northland,ryder.singh@example.com,1959-06-11T15:41:35.149Z,https://randomuser.me/api/portraits/men/80.jpg
6,Nihal MertoÄlu,male,AÄrÄ±,Bursa,nihal.mertoglu@example.com,1966-04-08T23:06:57.927Z,https://randomuser.me/api/portraits/men/75.jpg
7,Charlie Jean-Baptiste,female,Odessa,Saskatchewan,charlie.jean-baptiste@example.com,1982-05-27T04:16:44.709Z,https://randomuser.me/api/portraits/women/78.jpg
8,Katie James,female,Portlaoise,Roscommon,katie.james@example.com,1972-05-30T22:03:11.876Z,https://randomuser.me/api/portraits/women/40.jpg
9,Jyoti Iwema,female,Lottum,Noord-Holland,jyoti.iwema@example.com,1994-07-26T18:46:26.004Z,https://randomuser.me/api/portraits/women/80.jpg

In [13]:
df1 = pd.DataFrame(get_users())  
df1

,Name,Gender,City,State,Email,DOB,Picture
0,Alexia Richard,female,Pau,Guyane,alexia.richard@example.com,1976-09-24T05:43:58.483Z,https://randomuser.me/api/portraits/women/20.jpg
1,Alex Vincent,male,Perpignan,Indre,alex.vincent@example.com,1944-10-24T01:10:53.096Z,https://randomuser.me/api/portraits/men/4.jpg
2,Liam Smith,male,Elgin,Northwest Territories,liam.smith@example.com,1954-11-20T19:16:01.818Z,https://randomuser.me/api/portraits/men/24.jpg
3,Ege Erginsoy,female,Bayburt,AdÄ±yaman,ege.erginsoy@example.com,1983-02-27T04:38:23.694Z,https://randomuser.me/api/portraits/women/50.jpg
4,Louise Gibson,female,El Cajon,Virginia,louise.gibson@example.com,1953-10-21T14:09:22.782Z,https://randomuser.me/api/portraits/women/33.jpg
5,Emil Hansen,male,Aaborg Ãst,Hovedstaden,emil.hansen@example.com,1961-04-30T17:24:24.590Z,https://randomuser.me/api/portraits/men/65.jpg
6,Emilie Christensen,female,Aarhus,Midtjylland,emilie.christensen@example.com,1996-05-30T00:31:38.709Z,https://randomuser.me/api/portraits/women/83.jpg
7,Ø§Ù ÛØ± ÙØ§Ø³Ù Û,male,Ø¢Ø¨Ø§Ø¯Ø§Ù,ÙÙ,myr.qsmy@example.com,1947-12-26T14:23:27.693Z,https://randomuser.me/api/portraits/men/85.jpg
8,Grzegorz Hoffmann,male,LÃ¼beck,Baden-WÃ¼rttemberg,grzegorz.hoffmann@example.com,1967-05-07T11:58:45.815Z,https://randomuser.me/api/portraits/men/53.jpg
9,Emmi Lampinen,female,PyhtÃ¤Ã¤,Kainuu,emmi.lampinen@example.com,1962-10-08T07:36:24.559Z,https://randomuser.me/api/portraits/women/72.jpg

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruitvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [22]:
import requests
import json

We will obtain the [fruitvice](https://www.fruityvice.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01) API data using `requests.get("url")` function. The data is in a json format.

In [28]:
#data = requests.get("http://www.fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [ ]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [ ]:
pd.DataFrame(results)

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [ ]:
df2 = pd.json_normalize(results)

In [ ]:
df2

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [ ]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [ ]:
# Write your code here
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://github.com/public-apis/public-apis#animals) contains a list of free public APIs. Choose any API of your interest and use it to load/extract some information, as shown in the example above.
1. Using `requests.get("url")` function, load your data.

In [29]:
# Write your code here
data2 = requests.get("https://www.fishwatch.gov/api/species")
data2

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://www.fishwatch.gov/api/species")
```

</details>

2. Retrieve results using `json.loads()` function.

In [31]:
# Write your code here
results2 = json.loads(data2.text)

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame.

In [ ]:
# Write your code here
df3 = pd.

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
[Svitlana Kramar](www.linkedin.com/in/svitlana-kramar)


Svitlana is a masterâs degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

                                Copyright Â© 2020 IBM Corporation. All rights reserved.